<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/styles') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
     <form action="/blog" method="post" enctype="multipart/form-data">
         <div class="input-group mb-3">
        <label class="input-group-text" for="coverImage">Cover Image</label>
        <input type="file" class="form-control" name="coverImage" id="coverImage" />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          aria-describedby="title"
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Blog's Body</label>
        <textarea
          class="form-control"
          id="body"
          name="body"
          rows="3"
        ></textarea>
      </div>
      <button class="btn btn-primary">Submit</button>
     </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
